#header-img{
  width:100;
  height:100px;
}
h1{
  font-size:25px;
  position:absolute;
  top:25px;
  left:155px
}
#header{
  padding:10px;

}
#nav-bar{
  position:absolute;
  top:50px;
  right:30px;
  display:flex;

}
.nav-link{
  margin:30px;
  color:black;
  font-weight:bold;
  font-size:1em;
  text-decoration:none;
}
a:hover{
  background-color:black;
  color:white;
  padding:5px;
}
#contact{
  text-align:center;
}
#submit{
  display:block;
  margin:auto;
  margin-top:10px;
  border:none;
  background-color:rgb(241, 241, 9);
  font-size:1.2em;
  font-weight:bold;
  padding-left:20px;
  padding-right:20px;
}
#submit:hover{
  background-color:rgb(231, 231, 63);
}
#email{
  width:300px;
  height:20px;
}
::placeholder{
  font-weight:bold;
  font-size:15px;
}
h2{
  font-family:sans-serif;
}
#features{
  display:flex;
  justify-content:center;
  font-family:sans-serif;
  font-size:20px;
}
#intro{
  display:flex;
  justify-content:center;
}
#intro iframe{
  width:80%;
  max-width:800px;
  aspect-ratio:16/9;
  border:none;
}
#pricing{
  display:flex;
  justify-content:center;
}
div{
  border:1px solid black;
  width:300px;
  height:400px;
  margin-top:50px;
  text-align:center;
}
div h4{
  background-color:rgb(168, 166, 166);
  padding:20px;
}
#button{
  margin-top:220px;
  border:none;
  background-color:yellow;
  font-size:20px;
  font-weight:bold;
}
#button:hover{
  background-color:rgb(224, 224, 81);
}
footer{
  margin-top:20px;
  text-align:right;
  background-color:rgb(167, 164, 164);
}
footer nav{
  margin:10px 5px 0 0;
}
nav a{
  text-decoration:none;
  color:black;
}
nav a:hover{
  background-color:none;
}
footer p{
  color:rgb(90, 88, 88);
  margin:0 5px 0 0 ;
}
@media(prefers-reduced-motion:no-preference){
  *{
    scroll-behavior:smooth;
  }
}
